.Header{
    
    color:#4EA8DE;
}
.OuterContainer{
    
    text-align: center;
    background-image: url(Background.jpg);
}
.container{
    
    color:#5E60CE;
}
.button{
    background-color: greenyellow;
    color: honeydew;
}
.input{
    color: hotpink;
}